*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background:#b1cbbb
}

.introduction_page {
  /* display: none;   */
}

.headerInfo {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.score,
.time {
    border-radius: 15px;
    padding: 10px;
    background-color: #eea29a;
}

.introduction_box,
.start_quiz button{
    background-color:#eea29a;
    border-radius: 15px;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
}

.start_quiz button {
    border-style: none;
    top: 65%;
    width: 15%;
}

.start_quiz button:hover {
    border-style: solid;
}