*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background:#b1cbbb
}

.introduction-page {
  display: none;  
}

.headerInfo {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.score,
.time {
    border-radius: 15px;
    padding: 10px;
    background-color: #eea29a;
}

.introduction-box,
.start-quiz,
.container{
    background-color:#eea29a;
    border-radius: 15px;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
}

.start-quiz{
    border-style: none;
    top: 65%;
    width: 15%;
}

.start-quiz:hover {
    border-style: solid;
}

.question-container div {
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.question-container div:hover {
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

#question-1 {
    display: none;
}