/* Some style sheets have nothing in them but some commented code
These represent what will be injected through JavaScript when needed */

*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background:#b1cbbb
}

.introduction-box form{
    display: none;
}

.headerInfo {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.score,
.time,
.next,
#submitButton,
#inputType {
    border-radius: 15px;
    padding: 10px;
    background-color: #eea29a;
}

.introduction-box,
.start-quiz,
.container {
    background-color:#eea29a;
    border-radius: 15px;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 24px;
}

.start-quiz{
    border-style: none;
    top: 65%;
    width: 15%;
    /* display: none; */
}

.start-quiz:hover {
    border-style: solid;
}

.options div {
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    border-color: transparent;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.options div:hover {
    border-width: 3px;
    border-style: solid;
    border-color: black;
}

.next-button {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 46.8%;
    margin-bottom: 14%;
}

.options .optionItm.correct {
    background-color: #acdbeb;
}

.options .optionItm.incorrect {
    background-color: #c94c4c;
}

.options .optionItm.disabled {
    pointer-events: none;
}

.main-display {
    /* display: none; */
}

#submitButton,
#inputType {
    background-color: white;
}